body{
    background-color: #fafafa;
}
.header img{
    height: 136px;
    widows: 200px;
    margin: relative;
    left: 30px;
}
h1{
    font-size: 18px;
    height: 50px;
    font-family: bold;
    margin: 0px 2px;
    padding: 2px;
}
.wrapper{
    width: 300px;
    height: 140%;
    overflow: hidden;
    border: 0px solid #000;
    margin: 50px auto;
   border-block-color: #4e4646;
   
   background-color: #fff; 
}
.btn1{
    width: 96%;
    background-color: #3897f0;
    border: 1px solid #3897f0;
    padding: 5px 12px;
    color: #fff;
    font-weight:bold;
    border-radius: 3px;
    margin:25px 5px;
}
.input-1,.input-2,.input-3,.input-4{
    width: 95%;
    margin-bottom: 5px;
    padding: 8px 12px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    border-radius: 3px;

}
.btn2{
    width: 96%;
    background-color: #3897f0;
    border: 1px solid #3897f0;
    padding: 5px 12px;
    color: #fff;
    font-weight:bold;
    border-radius: 3px;
    margin:25px 5px;
}
.box1-content{
    text-align: center;
    color: rgb(70, 66, 66);
    border: 1px solid #e6e6e6;

}
h2{
    font-size: 15px;
    height: 50px;
    font-family: bold;
    margin: 10px 20px;
    padding: 3px;
}
.box2-content{
    width: 250px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #e6e6e6;

    margin:3px auto;
    padding: 15px 50px;

}
.box2{
    text-align: center;
    font-family :overpass mono ,Arial, Helvetica, sans-serif;
}