.line1{
    display: flex;
    justify-content: space-between;
    
}
.line2{
    text-align: center;
     margin-top: 20%;
}
.line3{
    text-align: center;

}
.line4{
    text-align: center;

}
.line5{
    display: flex;
    justify-content: space-between;
    margin-top: 20%;

}